<a href="https://colab.research.google.com/github/sujin-create/Fintech_Project/blob/main/recommended.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pymysql
!pip install matplotlib
!pip install seaborn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.1 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.7.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.21.6)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.3.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.2->seaborn) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)

In [3]:
import pandas as pd 
import io
import pymysql 
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns 
sns.set()

In [59]:
from google.colab import files
myfile = files.upload()

Saving card.csv to card (3).csv

In [60]:
df = pd.read_csv(io.BytesIO(myfile['card.csv']))
df.head()

  소분류(CLASS3) 연령대별(AGE)  카드이용금액계(AMT_CORR)  카드이용건수계(USECT_CORR)
0          한식       30대             213876                   40
1       패스트푸드       30대             197931                    5
2         제과점       50대             155930                    5
3          중식       30대             873711                   55
4          일식       50대             105630                    5

In [61]:
df1 = df.groupby(['소분류(CLASS3)'])['카드이용금액계(AMT_CORR)'].agg('sum').sort_values(ascending = False)

In [62]:
df = df1.to_frame()
df

             카드이용금액계(AMT_CORR)
소분류(CLASS3)
중식                    17565460
한식                    16762778
일식                    11403086
슈퍼마켓                  10323773
백화점                    6007430
양식                     5796169
제과점                    5561520
정육점                    3985521
패스트푸드                  1245680
노래방                     781662
화원                      638810
서점                      423023

In [63]:
match = "중식"

In [95]:
import requests
import re
from bs4 import BeautifulSoup

#키워드 : 공인중개사
url = "https://m.search.naver.com/search.naver?where=m_view&sm=mtb_nrm&query=%EB%82%B4%EA%B7%BC%EC%B2%98" + match
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36"}
res = requests.get(url, headers=headers)
res.raise_for_status()
idx = 0

soup = BeautifulSoup(res.text, "lxml") # 가져온 문서를 lxml 파서를 통해서 BeautifulSoup객체로 만듬. soup에 모든 정보가 들어있음.

gongin = soup.find_all("div", attrs={"class":"total_wrap"})


for gongins in gongin:
    title = gongins.find("a", attrs={"class":"api_txt_lines total_tit _cross_trigger"}).get_text()
    link = gongins.find("a", attrs={"class":"api_txt_lines total_tit _cross_trigger"})['href']
    p = re.compile("cafe")
    m = p.search(link)

    if m:
        #print("카페 제외")
        continue
    print(title)
    print(link)
    idx = idx + 1

    if idx > 9 :
        break

대구 북구 칠성시장 근처 중식 맛집 수봉반점
https://m.blog.naver.com/nabureng2/222695215040
광명역맛집::광명동굴 근처 한양중식, 아이들과 짜장면 한그릇♥
https://m.blog.naver.com/nalago12/222840822110
제주[도남동] 중식 맛집 <동강>제주공항 근처 식당, 도민 맛집, 내 돈 내산 후기
https://m.blog.naver.com/yuhy789/222798571233
[코스트코 근처 중식집] 미사역 맛집 찌엔용 내돈내산 솔직후기
https://m.blog.naver.com/jindojihee0822/222743586905
한남동 맛집 자리(JARI), 맛있는 블루스퀘어 근처 중식집
https://m.blog.naver.com/hyonishin10/222717614353
■대림성모병원 근처 중식집■ 신흥원 (노포맛집 개인피셜 탕수육맛집 )
https://m.blog.naver.com/ldhnetoo/222688025662
[공덕 중식] 올드상해 : 공덕역 10번출구 근처에 있는 작은 상하이 (feat.중식 맛집)
https://m.blog.naver.com/mskwak_1016/222816871258
파주 홈플러스 근처, 짜장 2900원 가성비 중식집 추천맛집 간짜장 짬뽕 탕수육 [태동관 운정점]
https://m.blog.naver.com/wjstmdgmlzz/222844089931
연남동 중식 따씽에서 점심
https://m.blog.naver.com/gospel416/222845987619
반포 중식 맛집 신논현역 경파 중국집
https://m.blog.naver.com/himerosyo/222844035051